<h3 class="text-light col-12 text-center" style="margin-top: 1em">Your contacts</h3>
<div routerLink="/contacts" class="container-fluid bg-dark">
    <div class="col-12 d-flex justify-content-center flex-direction-row flex-wrap" style="margin: 3em 0; gap: 2em">
        <div *ngFor="let element of array; let i = index" id="card" class="text-light col-6 col-sm-4 col-md-3 col-lg-2">
            <div id="paramContainer">
                <div id="bkgIcon" style="height: 50%;">
                </div>
                <div style="display: flex; flex-direction: column; justify-content: center; height: 40%; gap: 1em">
                    <h6>{{ "Name: "+element.firstname}}</h6>
                    <h6>{{ "Last name: " + element.lastname}}</h6>
                    <h6><i class="bi bi-telephone"></i> {{ element.number}}</h6>
                </div>
                <div style="height: 10%; align-items: center; justify-content: flex-end; " class="d-flex">
                    <!-- Modal button -->
                    <!-- Questo bottone punta all'id dinamico della card in cui è contenuto (che corrisponde all'indice di questo nell'array), in questo modo quando viene cliccato punta all'elemento con l'id corrispondente (e cioè alla modale della card selezionata) -->
                    <!-- nella modale di modifica dei contatti già creati ci sono due tasti: un close ed un save, il close, se cliccato, deve far tornare al contatto com'era prima delle modifiche in quanto col close queste non vengono salvate, il tasto save invece salva le modifiche e chiude la modale -->
                    <button class="btn" style="margin-right: 1em; margin-bottom: 1em" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal' + i" (click)="saveEdit(element)"><i class="bi bi-pencil-square text-light" style="margin-bottom: 1em"></i></button>
                </div>
            </div>
            <!-- MODAL -->
            <div class="modal fade" [attr.id]="'exampleModal' + i" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog " role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-light text-center container-fluid" id="exampleModalLabel">Edit contact</h5>
                            <i class="bi bi-pencil"></i>
                        </div>
                        <div class="modal-body d-flex align-items-center" style="gap: 1em">
                            <div>
                                <label>Edit first name: </label>
                                <input type="text" [(ngModel)]="element.firstname">
                            </div>
                            <div>
                                <label>Edit last name: </label>
                                <input type="text" [(ngModel)]="element.lastname">
                            </div>
                            <div>
                                <label>Edit number: </label>
                                <input type="text" [(ngModel)]="element.number">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" (click)="closeEdit(element)">Close</button>
                            <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>