#card {
    margin: 0.5em 0;
}

.btn {
    border-radius: 0;
}

h6 {
    margin: 0;
}

#paramContainer {
    height: 25em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: #2a2927;
}

#bkgIcon {
    background: url(../imgs/icn.jpg);
    background-size: cover;
    background-position: center center;
}

label {
    color: white;
}

.modal-content {
    background-color: #2a2927;
}

.modal-body {
    flex-direction: column;
    padding: 3em 1em;
    div {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0.5em;
    }
    input {
        background: transparent;
        border: none;
        border-bottom: solid 1px white;
        color: white;
    }
}