button {
    color: white;
    transition: 0.5s;
    &:hover {
        background: orange;
        i {
            color: black;
        }
    }
}

input {
    background: transparent;
    color: white;
    border: none;
    border-bottom: solid 1px orange;
    border-radius: 0;
    &:focus {
        background: transparent;
        border: none;
        color: white;
    }
}

.form-control:focus {
    box-shadow: none;
    border-bottom: solid 1px orange;
}