// eliminazione freccie da input number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#imgHomePresentation {
    background: url(../imgs/homePresentation.jpg);
    background-size: 100%;
    background-position: center center;
    transition: 0.5s;
    background-repeat: no-repeat;
    &:hover {
        background-size: 110%;
    }
}

input {
    border: solid 1px black;
    border-radius: 5px;
    padding: 0.5em
}