#imgHomePresentation {
    background: url(../imgs/homePresentation.jpg);
    background-size: cover;
    background-position: center center;
}

// eliminazione freccie da input number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}