<div id="imgHomePresentation" class="container-fluid bg-primary" style="height: 35em">
    <div class="container-fluid " style="height: 50%">
        <h1 class="text-light d-flex justify-content-center align-items-end" style="text-align: center; height: 100%;">Address Book</h1>
    </div>
    <div class="container d-flex justify-content-center" style="margin-top: 6em">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#myModal">Start</button>
    </div>
</div>




<!-- Modal -->
<div class="modal bg-dark fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container" style="display: flex; gap: 1em; margin-top: 2em;">
                    <label class="text-light">Insert contact </label>
                    <input type="text" [(ngModel)]="input">
                    <button class="btn btn-primary" (click)="insert()">Insert</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" routerLink="/contacts" (click)="insert()">Save changes</button>
            </div>
        </div>
    </div>
</div>